<ion-header [translucent]="true">
  <ion-toolbar  color="A " class="colormenus">
    <ion-buttons  slot="start" >
      <ion-back-button default-href="/" [routerLink]="['/']"></ion-back-button>
    </ion-buttons>
    <ion-title class="titulo">GreenMarket</ion-title> <!-- Clase para centrar el título -->
  </ion-toolbar>
</ion-header>
<ion-content>
  <div class="bigimage">
    <ion-grid>
      <ion-row >
        <ion-col  class="centrar">
          <div class="titular">
            Lista de proveedores
          </div>
        </ion-col>
      </ion-row>
      <ion-row class="ion-text-center">
        <ion-col size="12" size-md="6" size-lg="4" *ngFor="let proveedor of proveedoresFiltrados">
          <div >
            <ion-card class="profile-card">
              <div class="profile-image">
                <!-- <img src="../../../../assets/images/descarga.jpeg" class="profile-image" /> -->
                <img *ngIf="proveedor.foto" [src]="'http://localhost:8000' + proveedor.foto" class="profile-image" alt="Foto del proveedor">
                <img *ngIf="!proveedor.foto" src="assets/images/descarga.jpeg" class="profile-image" alt="Imagen por defecto" >
              </div>
              <ion-card-content class="profile-stats">
                  <!-- <ion-card-title "></ion-card-title> -->
                <div  class="card-title">
                  {{ proveedor.nombre }}<br/>{{ proveedor.apellido }}
                </div>
                <div class="card-section">
                  <ion-text>Calificación</ion-text>
                </div>
                <div>
                  <div class="card-rating">
                    <ion-text class="rating-value">4</ion-text>
                  </div>
                </div>
                <div class="boton-verp button-div" (click)="catalogo_producto()">Ver Productos</div>
              </ion-card-content>
            </ion-card>
          </div>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
</ion-content>

<ion-footer>
  <ion-toolbar color="a" class="colormenus">
    <ion-buttons slot="start">
      <ion-button (click)="toggleSearchBar()" style="background-color: yellow; border-radius: 50%;">
        <ion-icon name="search-outline" style="color: black;"></ion-icon>
      </ion-button>
    <ion-searchbar *ngIf="showSearchBar" placeholder="Buscar..." (ionInput)="onSearch($event)" style="margin: 10px;"></ion-searchbar>
    </ion-buttons>
    <div class="center-button">
      <ion-button [routerLink]="['/chatbot']" style="--padding-start: 0; --padding-end: 0; --border-radius: 50%; width: 40px; height: 40px;">
        <img src="../../../assets/images/JARDENBOT.png" style="width: 40px; height: 40px;" />
      </ion-button>
    </div>
    <ion-buttons slot="end" (click)="navigateToLogin()">
      <ion-button style="background-color: yellow; border-radius: 50%;">
        <ion-icon name="person-outline" style="color: black;"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-footer>
